<h2>Constructors</h2>
<table class="table">
  <tr>
    <th>Constructors</th>
    <th>Nationaltiy</th>
    <th>History</th>
  </tr>
{{#each constructors}}
	<tr>
		<td>
			<a href="/constructor/{{constructorId}}">{{name}}</a>
		</td>
    <td>{{nationality}}</td>
		<td>
			<a href="{{url}}" title="{{name}} Wikipedia Link" target="_blank">Wikipedia</a>
		</td>
	</tr>
{{/each}}
</table>
