<h2>Constructor: {{constructor.name}}</h2>
<table class="table">
  <tr>
    <th>Driver</th>
    <th>Nationality</th>
    <th>Bio</th>
  </tr>
{{#each drivers}}
	<tr>
		<td>
			<a href="/driver/{{driverId}}">{{givenName}} {{familyName}}</a>
		</td>
    <td>{{nationality}}</td>
		<td>
			<a href="{{url}}" title="{{givenName}} {{familyName}} Wikipedia Link" target="_blank">Wikipedia</a>
		</td>
	</tr>
{{/each}}
</table>
