<h2>Player: {{firstName}} {{lastName}}</h2>
<p>{{firstName}} ist {{age dayOfBirth}} Jahre alt.</p>
<p>Seine höchste Wertung war: {{peakRating}}</p>
<p>
  <a href="{{bio}}" title="Wikipedia Article of {{firstName}} {{lastName}}">Biography</a>
</p>
<img src="{{avatar}}" alt="Avatar von {{firstName}} {{lastName}}">
